  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }


/* ------  Font Import ------  */

@font-face {
  font-family: 'order-icons';
  src:url('https://bucket1.format-assets.com/theme_versions/4351869/assets/fonts/OrderIcons/order-icons.eot');
  src:url('https://bucket1.format-assets.com/theme_versions/4351869/assets/fonts/OrderIcons/order-icons.eot?#iefix') format('embedded-opentype'),
    url('https://bucket1.format-assets.com/theme_versions/4351869/assets/fonts/OrderIcons/order-icons.woff') format('woff'),
    url('https://bucket1.format-assets.com/theme_versions/4351869/assets/fonts/OrderIcons/order-icons.ttf') format('truetype'),
    url('https://bucket1.format-assets.com/theme_versions/4351869/assets/fonts/OrderIcons/order-icons.svg#order-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-close, .icon-dropdown-closed, .icon-dropdown-open, .icon-video, .icon-view {
  font-family: 'order-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-close:before { content: "\e001"; }
.icon-dropdown-closed:before { content: "\e002"; }
.icon-dropdown-open:before { content: "\e003"; }
.icon-video:before { content: "\e000"; }
.icon-view:before { content: "\e008"; }


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}


body, html {
  background-color: #4d4d4e;
  font-family: Helvetica, Arial, sans-serif;
}
ul {
  list-style: disc inside none;
}
ol {
  list-style: decimal inside none;
}
strong {
  font-weight: normal
}


/*  -------------------------------------------------------------
  General global styles --------------------------------------- */
  /* This is needed for short content sites where the menu may be longer than the html and body elements */
html,body{height:100%;padding:0;margin:0;border:0;}

html { overflow-y: auto }

body {
  color: #c3eef6;
  font-family: "Input Mono Narrow Extra Light", "Input Mono Narrow Extra Light", monospace;
  font-size: 25px;
}
h1,h2,h3,h4,h5,h6 {
  color: #f9ab07;
  font-family: "Input Mono Narrow Extra Light", "Input Mono Narrow Extra Light", monospace;
}

h1, h2{
  font-size: 25px;
  font-weight: normal;
}

p { line-height: 1.4;}

a{
  outline: 0;
}


/* Base CSS rules and variables */

body {
  background: #4d4d4e;
  color: #c3eef6;
  font-family: "Input Mono Narrow Extra Light", "Input Mono Narrow Extra Light", monospace;
  font-size: 25px;
  overflow-x: none;
    overflow-y: scroll;
  position: relative;
}

body a {
  color: #f6d5f8;
  text-decoration: underline;
}
body a:hover,
body a:focus {
  color: #f9d836;
  text-decoration: underline;
}

body h1,
body h2 {
  color: #f9ab07;
  font-family: "Input Mono Narrow Extra Light", "Input Mono Narrow Extra Light", monospace;
  font-size: 25px;
}

#logo {
  color: #feeb26;
  font-family: "Telefon Normal", "Telefon Normal", sans-serif;
  font-size: 41px;
}
#social li {
  color: #404041;
}


/* Share button */
#share_button {
  
  background: #f8e4f9;
  
  display: inline-block;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
}

#share_button:hover {
  
  background: #fbf023;
  
}

.social_icons .top_level a {
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;

  filter: alpha(opacity=100);
  opacity: 1;
  text-decoration: none;
  text-transform: lowercase;
  color: #404041;
  vertical-align: baseline;
  padding: 0 2px 0 5px;
}

.social_icons ul {
  list-style-type: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.social_icons {
  display: inline-block;
  text-align: left;
  overflow: hidden;
  vertical-align: middle;
}

.social_icons .social-icon {
  width: auto;
  height: 10px;
  overflow: visible;
  position: relative;
  top: 2px;
  padding-left: 5px;
}
.social_icons a {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  color: #404041;
  
  background: #f8e4f9;
  
}
.social_icons a:hover {
  color: #f89539;
  
  background: #fbf023;
  
}

body.gallery .menu-bg,
body.listing .menu-bg,
body.simple .menu-bg,
body.client .menu-bg{
  position: fixed;
  left: 0;
  top: 0;
  background: #cdcdce;
  width: 300px;
  height: 300px;

}
body.gallery #social,
body.listing #social,
body.simple #social,
body.client #social {
  list-style:none;
  padding: 0;
  overflow: hidden;
  margin-left: 2px;
  position: relative;
}


body.gallery #social  li.social_icon a,
body.listing #social  li.social_icon a,
body.simple #social li.social_icon a,
body.client #social li.social_icon a{
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

#share_button:hover,
body.gallery #social  li.social_icon:hover,
body.listing #social  li.social_icon:hover ,
body.simple #social li.social_icon:hover,
body.client #social li.social_icon:hover {
  
  background: #fbf023;
  
  color: #f89539;
}
#share_button:hover a {
  color: #f89539;
}

body.listing .caption,
body.listing .caption h1,
body.listing .caption h2,
body.listing .caption p,
body.listing .caption a {
  color: #222222;
  font-family: "Planet Light", "Planet Light", sans-serif;
  font-size: 11px;
}



body.gallery a.logo,
body.listing a.logo,
body.simple a.logo,
body.client a.logo{
  font-family: "Telefon Normal", "Telefon Normal", sans-serif;
  font-size: 41px;
  font-weight: normal;
  color: #feeb26;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  max-width: 100%;
  display: block;
}
body.gallery a.logo img,
body.listing a.logo img,
body.simple a.logo img,
body.client a.logo img{
    max-width: 100%;
    max-height: 150px;
    overflow: hidden;
}

.post_text, .pre_text {
  line-height: 1.2;
  margin:0;
  color: #aaaaaa;
  font-family: "Lucida Console", Monaco, Menlo, monospace;
  font-size: 11px;
  font-weight: normal;
  padding: 0 0.5em;
}
.pre_text{
  margin-bottom: 32px;
}

.post_text {
  margin: 10px 0 0 0;
  position: relative;
}

body.gallery #content h1,
body.listing #content h1,
body.simple #content h1,
body.client #content h1,
body.gallery #content h2,
body.listing #content h2,
body.simple #content h2,
body.client #content h2{
  color: #f9ab07;
  font-size: 25px;
  font-family: "Input Mono Narrow Extra Light", "Input Mono Narrow Extra Light", monospace;
}
body.gallery .nav-background,
body.listing .nav-background,
body.simple .nav-background,
body.client .nav-background {
  background: #cdcdce;
  height: 100%;
  position: fixed;
  top: 0;
  width: inherit;

  
    left: 0;
  
  
}


body.gallery .wrapper>nav,
body.listing .wrapper>nav,
body.simple .wrapper>nav,
body.client .wrapper>nav,
body.gallery .wrapper>.pre_text,
body.listing .wrapper>.pre_text,
body.simple .wrapper>.pre_text,
body.client .wrapper>.pre_text,
body.gallery .wrapper>h1,
body.listing .wrapper>h1,
body.simple .wrapper>h1,
body.client .wrapper>h1 {
  position: relative;
  z-index: 1;
}

body.gallery .nav-wrapper,
body.listing .nav-wrapper,
body.simple .nav-wrapper,
body.client .nav-wrapper{
  background: #cdcdce;
  float: left;
  height: inherit;
  width: 230px;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;



  
    margin-right: 1%;
  
  

  
    position: fixed;
    overflow: auto;
    padding: 0 0 0 25px;
    
      left: 0;
    
    
    top: 0;
  

  

  /* spacing above menu */
  
    padding-top: 3%;
  

  /* right padding of menu */
  padding-right: 2%;


}

.nav-bottom { bottom: 4%; }
.nav-bottom.is_sticky {
  position: absolute;
  bottom: 10%;
  left: 25px;
}

@media only screen and (max-width: 45em) {
  .nav-bottom.is_sticky { position: static !important;}
}

body.gallery #content,
body.listing #content,
body.simple #content,
body.client #content {
  -webkit-font-smoothing: antialiased;

  color: #c3eef6;
  display: none;
  font-family: "Input Mono Narrow Extra Light", "Input Mono Narrow Extra Light", monospace;
  font-size: 25px;
  line-height: 1.5;
  position: relative;

  
    padding-left: 4%;
  

  /* spacing above content */
  
    margin-top: 3%;
  

  
    margin-left: 230px;
  
}

body.listing #content {
  
    padding-left: 2%;
  
}

body.client_page #content {
	padding-left: 2%;
}

body.f_blog #content { display: block; }

/* content padding for text pages */
body.simple #content {
  /* set margin left, or right, depending on which it is */
  

  
    margin-right: 3%;
  
}

/* padding and margin for content pages */
body.content_page #content {
  
    margin: 2% 3% 5% 230px;
    padding: 0 0 0 2%;
  
}






body.gallery .assets-container{
  overflow: hidden;
  position: relative;

  
    margin-bottom: 5%;
  

  /* disable selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body.gallery .assets-container .asset{
  
    margin: 0 5% 5% 0;
  

  float: left;
  height: auto;
  width: auto;
  max-width: 100%;
  position: relative;
}

body.gallery .assets-container .asset.asset-text a,
body.gallery .assets-container .asset.asset-video a,
body.gallery .assets-container .asset.asset-image a{
  cursor: pointer;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

/* for loading assets, have a nice loading animation */
body.gallery .assets-container .asset .loading,
body.client .assets-container .asset .loading,
#fancybox-loading div {
  height:20px;
  width:20px!important;
  margin:auto;
  left:0;right:0;
  top:50%;
  margin-top:-10px;
  position:absolute;
  -webkit-animation: rotation 1s infinite linear;
  -moz-animation: rotation 1s infinite linear;
  -o-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear;
  border-left:4px solid rgba(211,211,211,0.9);
  border-right:4px solid rgba(211,211,211,0.9);
  border-bottom:4px solid rgba(211,211,211,0.9);
  border-top:4px solid rgba(122, 122, 122, 0.9);
  border-radius:100%;
  z-index: 1;
}
body.gallery .assets-container .asset .loading.hidden,
body.client .assets-container .asset .loading.hidden{ display: none; }


@-webkit-keyframes rotation {
from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
from {-moz-transform: rotate(0deg);}
to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
from {-o-transform: rotate(0deg);}
to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
from {transform: rotate(0deg);}
to {transform: rotate(359deg);}
}

body.gallery .assets-container.squared .asset.asset-title{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: none;
  height:auto;
  width: auto;
  padding-bottom: 0;
}

body.gallery .assets-container .asset.asset-title.text-title{
  padding: 40px;
  background: #f2f2f2;
color: #444444;
}

body.gallery .assets-container .asset.asset-title.text-title .wrapper {
  max-width: 57em;
}


body.gallery .assets-container .asset.asset-title img{
  display: inline-block;
  height: auto;
  max-width: 100%;
  width: auto;
}

body.gallery .assets-container .asset:not(.asset-title) img,
body.gallery .assets-container .asset:not(.asset-title) div {
  width: 100%;

  filter: alpha(opacity=100);
  opacity: 1;
  backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

body.gallery .assets-container .asset:not(.asset-title):hover div,
body.gallery .assets-container .asset:not(.asset-title):hover img {

  filter: alpha(opacity=80);
  opacity: 0.8;

  
  -webkit-transform: scale(1.04);
     -moz-transform: scale(1.04);
      -ms-transform: scale(1.04);
       -o-transform: scale(1.04);
          transform: scale(1.04);
  
}

body.gallery .assets-container .asset:not(.asset-title):active img {

  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-transition: all 0s;
     -moz-transition: all 0s;
       -o-transition: all 0s;
          transition: all 0s;
}


body.gallery .assets-container .asset.asset-video>a{
  display: block;
  height: 100%;
  width: 100%;
  position: absolute; top: 0; left: 0;
  z-index: 0;
}

body.gallery .assets-container .asset.asset-video>a div {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

  filter: alpha(opacity=90);
  opacity: 0.9;
}



  body.gallery .assets-container .asset:not(.asset-title)::after {
    content: '+';
    line-height: 42px;
    position: absolute;
    speak: none;
    text-decoration: none;
    vertical-align: middle;
  color: #f87818;
  cursor: pointer !important;
  font-family: Monospace;
  font-size: 24px;
  height: 42px;
  left: 50%;
  margin-left: -21px;
  margin-top: -21px;

  filter: alpha(opacity=0);
  opacity: 0;
  text-align: center;
  top: 50%;
  width: 42px;

  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
  -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
       -o-transform: scale(0.8);
          transform: scale(0.8);

  }

body.gallery .assets-container .asset:not(.asset-title) {
  background-color: #ffffee;
  -webkit-transition: opacity 0.3s ease-out;
     -moz-transition: opacity 0.3s ease-out;
       -o-transition: opacity 0.3s ease-out;
          transition: opacity 0.3s ease-out;

}

body.gallery .assets-container .asset.asset-video {
  background: #000;
}
body.gallery .assets-container .asset.asset-video .loading {
  display: none;
}

body.gallery .assets-container .asset:hover::after {

  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}
body.gallery .assets-container .asset.asset-video::after{
  content: "\e000";
  font-family: 'order-icons';
  font-size: 42px;

  filter: alpha(opacity=100);
  opacity: 1;
}

body.gallery .assets-container .asset .asset-text-stretch {
  width: 100%;
}

body.gallery .assets-container .asset.asset-text>a{
  -webkit-transition: background 0.2s ease-out;
     -moz-transition: background 0.2s ease-out;
       -o-transition: background 0.2s ease-out;
          transition: background 0.2s ease-out;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #f6a246;
  padding: 25px;
  position: absolute; top: 0; left: 0;
  color: #040000;
  z-index: 1;
}

body.gallery .assets-container .asset.asset-text>a:hover {
  background: #e29540;
}

body.gallery .assets-container .asset.asset-text i.icon-text{
  display: block;
  width: 16px;
  height: 10px;
  padding-top: 2px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top: 2px solid #7f7b7b;
  margin-left: 25px;
  margin-top: 25px;
  overflow: visible;
}

body.gallery .assets-container .asset.asset-text i.icon-text>i{
  width: 100%;
  display: block;
  height: 2px;
  background: #7f7b7b;
  overflow: visible;
  position: relative;
}

body.gallery .assets-container .asset.asset-text i.icon-text>i:after{
  content: "";
  position: absolute;
  width: 100%;
  display: block;
  height: 2px;
  top: 4px;
  background: #7f7b7b;
}



body.gallery .assets-container .asset.asset-text i.icon-text:after{
  content:"";
  display: block;
  width: 12px;
  height: 2px;
  position: absolute;
  left: 0;
  bottom:0px;
  background: #7f7b7b;
}

body.gallery .assets-container .asset.asset-text a>span{
  position: absolute;
  bottom: 25px;
  font-size: 11px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
}

body.gallery .assets-container.squared .asset{
  position: relative;
  overflow: hidden;

  
    width: 20%;
    padding-bottom: 20%;
  
}

body.gallery .assets-container.squared .asset.asset-image,
body.gallery .assets-container.squared .asset.asset-text,
body.gallery .assets-container.squared .asset.asset-video
 {
  position: relative;
  height: 0;
}
body.gallery .assets-container.squared .asset.asset-image .thumb-link {
  position: absolute; top: 0; left: 0;
  width: 100%; height: 100%;
  background: #000;
}
body.gallery .assets-container.squared .asset img { display: block }

body.gallery .assets-container.squared .asset.asset-image a>img{
  width: 100%;
  outline: 1px transparent solid;
}
body.gallery .assets-container.squared .asset.asset-video a>img{
  height: 100%;
  width: auto;
}
body.gallery .lazyload,
body.gallery .lazyloading,
body.client .lazyload,
body.client .lazyloading,
body.listing .lazyload,
body.listing .lazyloading {
  -webkit-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  opacity: 0!important;
}
body.gallery .asset .lazyloaded,
body.client .asset .lazyloaded,
body.listing .asset .lazyloaded {
  opacity: 1!important;
  -webkit-transition: opacity 250ms ease;
  -moz-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}


body.gallery #copy_holder,
body.client #copy_holder {
  width: 100%;
  background:  #4d4d4e;
  font-family: "Input Mono Narrow Extra Light", "Input Mono Narrow Extra Light", monospace;
  color: #0c0c0c;
  font-size: 27;
}

body.gallery .asset .video_holder{
  display: none;
}


body.listing #title{
  
    margin-bottom: 3%;
    margin-right: 3%
  
}

body.listing #title .img>img{
  max-width: 100%;
  display: block;
}

body.listing #title .wrapper {
  max-width: 57em;
}

body.listing #title .wrapper .copy {
  margin: 2% 0 2% 0;
  
}

body.listing .assets-container{
  font-size: 0; /* to remove whitespace between inline-block elements */
}

body.listing .assets-container .asset{
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  
    width: 17%;
    margin: 0 3% 3% 0;
  
}


@media only screen and (max-width: 95em) {
  body.listing .assets-container .asset{
    
      width: 22%;
    
  }
}

@media only screen and (max-width: 65em) {
  body.listing .assets-container .asset{
    
      width: 30.33%;
    
  }
}

body.listing .assets-container .asset a {
  display: block;
  text-decoration: none ;
  color: #222222;
}
body.listing .assets-container .asset .caption{
  margin-top: 10px;
  
  text-align: Center;
  color: #222222;
  font-size: 11px;
  font-family: "Planet Light", "Planet Light", sans-serif;
  text-decoration: none ;
}

body.listing .assets-container .asset a:hover .overlay {
  
  filter: alpha(opacity=20);
  opacity: 0.2;
  
}
body.listing .assets-container .asset a:active .overlay {
  
  filter: alpha(opacity=50);
  opacity: 0.5;
  
}

body.listing .assets-container .asset .image-wrap .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s ease-out;
     -moz-transition: opacity 0.2s ease-out;
       -o-transition: opacity 0.2s ease-out;
          transition: opacity 0.2s ease-out;
}




body.listing .assets-container {
  overflow: hidden;
}

body.listing .assets-container .asset img {
  max-width: 100%;
  height: auto;
}

body.listing .assets-container .asset .image-wrap {
  position: relative;
}

body.listing .assets-container .asset .image-wrap .image-placeholder {
  width: 100%;
  height: 100%;
}

body.listing .assets-container .asset .image-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

body.listing .assets-container .asset .image-wrap .image-placeholder {
  transition: background-color 1s ease;
}

body.listing .assets-container .asset .image-wrap.image-loaded .image-placeholder {
  background-color: transparent !important;
}

body.listing .assets-container .asset a{
  display: inline-block;
  text-decoration: none;
  line-height: 1.3
}


#menu{
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  /* disable selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#menu ul{
  list-style-type: none;
}

#menu li>a,
#menu .category>a>span{
  color: #222222;
  
  background: #f9e4fb;
  
  display: inline-block;
  font-family: "Input Mono Narrow Extra Light", "Input Mono Narrow Extra Light", monospace;
  font-size: 13px;
  line-height: 1.8;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
}
#menu li>a,
#menu .category>a {
  
  padding: 0 0.5em;
  
  margin: 0.15em;
}
#menu li>a:hover,
#menu li>a:focus {
  color: #060606;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  
  background: #fce234;
  
}
#menu li.selected>a{
  color: #f36d1f;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  
  background: #f8e25c;
  
}

#menu .category>a, #menu .category>a:hover{
  position: relative;
  text-decoration: none;
  padding-right: 0.2em;
}
#menu .category>a>span{
  text-decoration: none;
  font-weight: bold;
}


  #menu .category {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  #menu .category>a:hover {
    color: inherit;
    cursor: default;
    
    background: #f9e4fb;
    
    text-decoration: none;
  }
  #menu .category>a>span {
    cursor: default;
  }


/* for very large screens */
@media only screen and (min-width: 95em) {
  body.gallery .nav-wrapper,
  body.listing .nav-wrapper,
  body.simple .nav-wrapper,
  body.client .nav-wrapper {
    width: 250px;
    padding-left: 40px;
  }

  .nav-bottom.is_sticky { left: 40px; }

  body.gallery #content,
  body.listing #content,
  body.simple #content,
  body.client #content {
    
      margin-left: 250px;
    
  }

  body.gallery .assets-container.squared .asset{
    
      width: 15%;
      padding-bottom: 15%;
    
  }
}

@media only screen and (max-width: 75em) {

  body.gallery .assets-container.squared .asset.asset-title,
  body.gallery .assets-container.squared .asset.asset-title.img-title{
    
      margin-right: 5%;
    
  }

  body.gallery .assets-container.squared .asset.asset-title.img-title .wrapper{
    width: 100%;
  }

  body.gallery .assets-container.squared .asset{
    position: relative;
    overflow: hidden;

    
      width: 28.33%;
      padding-bottom: 28.33%;
    
  }


  .mq{
    display: none;
  }
}


#content ._4ORMAT_content_wrapper{
	min-width: 0;
}

/* ------------------------------------

Fancybox

--------------------------------------- */


.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
  cursor: default;
  -webkit-font-smoothing: antialiased;
}

#fancybox-loading {
  background: #f4f118;

  filter: alpha(opacity=100);
  opacity: 1;
  border-radius: 44px;
}

.fancybox-close {
  background: none;
  color: #0c0c0c;
  font-size: 40px;
  font-weight: 200;

  filter: alpha(opacity=40);
  opacity: 0.4;
  position: fixed;
  top: 10px; right: 10px;
  text-decoration: none;
}
.fancybox-close:hover {

  filter: alpha(opacity=100);
  opacity: 1;
  text-decoration: none;
}

.fancybox-prev span, .fancybox-next span {
  background-repeat: no-repeat;
  background-position: top center;
  height: 36px;
}

.fancybox-nav {background: transparent url(https://bucket1.format-assets.com/theme_versions/4351869/assets/fancybox/blank.gif); /* helps IE */}
.fancybox-overlay {background: url(https://bucket1.format-assets.com/theme_versions/4351869/assets/fancybox/fancybox_overlay.png);}

/* Changing the nav to be position fixed */
.fancybox-nav {width: 60px; }
.fancybox-nav span {
    visibility: visible;

    filter: alpha(opacity=10);
    opacity: 0.1;
}
.fancybox-nav:hover span {

  filter: alpha(opacity=100);
  opacity: 1;
}
.fancybox-prev {
  left: 20px;
  position: fixed;
}
.fancybox-next {
  right: 20px;
  position: fixed;
}


.fancybox-type-inline .fancybox-inner {
  max-width: 50em !important;
  overflow: auto !important;
  padding: 20px 40px 20px 20px;
  color: #0c0c0c;
  font-family: "Input Mono Narrow Extra Light", "Input Mono Narrow Extra Light", monospace;
  font-size: 25;
}

/* Thumbs */

#fancybox-thumbs.bottom {bottom: 18px;}
#fancybox-thumbs ul li {padding: 4px;}
#fancybox-thumbs ul li a {
  background: #bfbfbf;
  border: 0 none;
}
#fancybox-thumbs ul li.active {
  padding: 3px;
  border: 1px solid #bfbfbf;

  filter: alpha(opacity=100);
  opacity: 1;
}

body.gallery .fancybox-title {
  max-width: 40em;
  margin: 10px auto;
}

body.gallery .fancybox-title::after {
  content: "";
  width: 100%;
  display: inline-block;
  position: fixed;
  bottom: 77px;
  left: 0;
  height: 20px;
  background: -moz-linear-gradient(top, rgba(244, 241, 24, 0) 0%,#f4f118 100%);
  background: -webkit-linear-gradient(top, rgba(244, 241, 24, 0) 0%,#f4f118 100%);
  background: linear-gradient(to bottom, rgba(244, 241, 24, 0) 0%,#f4f118 100%);
}

.thumbnails-off .fancybox-title::after {
  bottom: 0;
}

body.gallery .fancybox-title .centered_caption {
  text-align: center;
}

.fancybox-title, .fancybox-title h2, .fancybox-title a {
  color: #0c0c0c;
  font-family: "Input Mono Narrow Extra Light", "Input Mono Narrow Extra Light", monospace;
  font-size: 27px;
}

.fancybox-title h2 {
  font-size: 1.3em;
}


/* Blog styling */

.f_blog_body_typography,
.f_blog_body_typography:hover {
    color: #222222!important;
    font-family: "Planet Light", "Planet Light", sans-serif!important;
    font-size: 18px!important;
    line-height: 1.65!important;
}
.f_blog_body_typography > p { line-height: 1.65!important; }

.f_blog_body_typography_color,
.f_blog_body_typography_color:hover,
.blog_date_icon_path { fill: #222222!important; }

.f_blog_title_typography,
.f_blog_title_typography:hover {
  color: #222222!important;
  font-family: "Planet Bold", "Planet Bold", sans-serif !important;
  font-size: 36px!important;
  font-style: normal!important;
  font-weight: bold!important;
}
.f_blog_title_typography_hover:hover {
  color: #222222!important;
  text-decoration: underline!important;
}

/* Hack to make listing hovers work nicely */
.f_blog_list a:hover h4 {
  color: #222222!important;
  text-decoration: underline!important;
}

.fancybox-title .child, /* apply to fancybox for popup image captions */
.f_blog_caption_typography {
  font-family: "Planet Light", "Planet Light", sans-serif !important;
  font-size: 14px!important;
}
.f_blog_caption_typography_font-size { font-size: 14px!important; }



/* ------------------------------------------------------------------ */
/* Content Pages styling */

#content_page_wrapper h2.xl-headline {
  font-size: 38px;
}

/*
------------------------------------------------------------------
Client Access Pages
------------------------------------------------------------------
*/

.client_page .private_page form p {
  color: #c3eef6 !important;
  font-size: 25px !important;
}

.f_client_header {
  border-bottom: 1px solid rgba(195, 238, 246, 0.3)!important;
	margin: 0 3% !important;
}

.f_client_header_copy p {
  color: #c3eef6 !important;
}


.f_client_header_info .f_btn {
  color: #c3eef6 !important;
  border: 1px solid #c3eef6 !important;
  font-family: "Input Mono Narrow Extra Light", "Input Mono Narrow Extra Light", monospace !important;
  font-size: 25px !important;
}

.f_assets-container {
	margin: 2% 3% 6% 3% !important;
}

.client_page .private_page form input[type='submit'] {
  color: #c3eef6 !important;
  border: 1px solid #c3eef6 !important;
}

/**/

body.blog iframe {
  max-width: 100%;
}
body.blog .fb-like iframe {
  max-width: none;
}
.order-title {
  position: relative;
}
@media only screen and (max-width: 767px) {
  .hide-for-small {
    display: none !important;
  }
  #share_4ormat_link,
  .f-share-panel {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .hide-for-large {
    display: none !important;
  }
}

.hide-for-portrait {
  display: none;
}
@media only screen and (max-width: 767px) and (orientation: landscape) {
  .hide-for-portrait {
    display: block !important;
  }
  #fancybox-thumbs {
    bottom: -80px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    overflow-x: initial;
    overflow-y: initial;
    -webkit-overflow-scrolling: touch;
  }
  body.fancybox-is-visible {
    overflow: hidden;
  }
  .nav-wrapper {
    overflow: scroll !important;
    height: 100% !important;
  }
}
@media only screen and (max-width: 767px) {
  body {
    overflow-x: initial;
    overflow-y: initial;
    -webkit-overflow-scrolling: touch;
  }
  body, html {
    font-size: 18px;
  }
  body.fancybox-is-visible {
    overflow: hidden;
  }
  body.gallery .nav-wrapper.header-up, body.listing .nav-wrapper.header-up, body.simple .nav-wrapper.header-up, body.client .nav-wrapper.header-up {
    top: -35%;
    -webkit-transition: top .5s ease-in;
       -moz-transition: top .5s ease-in;
        -ms-transition: top .5s ease-in;
         -o-transition: top .5s ease-in;
            transition: top .5s ease-in;
  }
  body.gallery .nav-wrapper .wrapper, body.listing .nav-wrapper .wrapper, body.simple .nav-wrapper .wrapper, body.client .nav-wrapper .wrapper {
    position: relative;
    background-color: #cdcdce;
    -webkit-transition: background-color 0.30s ease-out;
       -moz-transition: background-color 0.30s ease-out;
        -ms-transition: background-color 0.30s ease-out;
         -o-transition: background-color 0.30s ease-out;
            transition: background-color 0.30s ease-out;
  }
  body.gallery.menu-is-visible .nav-wrapper .wrapper, body.listing.menu-is-visible .nav-wrapper .wrapper, body.simple.menu-is-visible .nav-wrapper .wrapper, body.client.menu-is-visible .nav-wrapper .wrapper {
    position: relative;
    background-color: transparent;
    -webkit-transition: background-color 0.30s ease;
       -moz-transition: background-color 0.30s ease;
        -ms-transition: background-color 0.30s ease;
         -o-transition: background-color 0.30s ease;
            transition: background-color 0.30s ease;
  }
  body.gallery .nav-wrapper, body.listing .nav-wrapper, body.simple .nav-wrapper, body.client .nav-wrapper {
    background: none;
  }

  body.listing #content, body.simple #content, body.client #content, header {
    padding: 0 25px;
  }
  body.gallery #content, body.listing #content {
    
      padding: 0 25px 0 25px;
    
  }
  body.gallery #content, body.listing #content, body.simple #content, body.client #content {
    margin: 0;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #4d4d4e;
    -webkit-transition: background-color 0.30s ease-in, opacity 0.30s ease-out;
       -moz-transition: background-color 0.30s ease-in, opacity 0.30s ease-out;
        -ms-transition: background-color 0.30s ease-in, opacity 0.30s ease-out;
         -o-transition: background-color 0.30s ease-in, opacity 0.30s ease-out;
            transition: background-color 0.30s ease-in, opacity 0.30s ease-out;
  }
  body.gallery.menu-is-visible #content, body.listing.menu-is-visible #content, body.simple.menu-is-visible #content, body.client.menu-is-visible #content {
    -webkit-transition: background-color 0.30s ease, opacity 0.30s ease;
       -moz-transition: background-color 0.30s ease, opacity 0.30s ease;
        -ms-transition: background-color 0.30s ease, opacity 0.30s ease;
         -o-transition: background-color 0.30s ease, opacity 0.30s ease;
            transition: background-color 0.30s ease, opacity 0.30s ease;
  }
  body.gallery .assets-container.squared .asset.asset-title,
  body.gallery .assets-container.squared .asset.asset-title.img-title {
    
      margin-bottom: 5%;
    
    margin-right: 0;
  }
  body.gallery .assets-container.squared .asset {
    
      width: 29.3%;
      padding-bottom: 29.3%;
    
  }

  body.gallery .assets-container.squared .asset.asset-title {
    width: auto;

    
      margin-right: 5%;
    
  }
  body.gallery .assets-container.squared .asset.asset-title.text-title {
    margin-right: 0;
  }
  body.gallery .assets-container .asset{
    
      margin: 0 6% 6% 0;
    
  }
  body.gallery .nav-background,
  body.listing .nav-background,
  body.simple .nav-background,
  body.client .nav-background {
    display: none;
  }
  body.gallery .assets-container .asset.asset-title.text-title {
    padding: 30px 20px;
  }
  body.listing #title{
    margin-right: 0;
  }
  body.listing #title .wrapper .copy {
    margin: 5% 0;
    
  }
  body.listing .assets-container {
    
      margin-right: -3%;
    
    width: auto;
  }
  body.listing .assets-container .asset {
    display: inline-block;
    margin: 0 4% 4% 0;
    width: 46%;
    
      width: 47%;
      margin: 0 3% 3% 0;
    
  }
  .order-title h1 {
    font-size: 35px;
    max-width: 100%;
    display: inline-block;
  }
  body .order-title a.logo {
    margin: 0;
  }
  .order-title {
    width: 74%;
    padding: 20px 25px;
    box-sizing: border-box;
  }
  .order-asset-item.asset-third {
    margin-right: 0 !important;
  }
  body.gallery .assets-container .asset.asset-text>a {
    padding: 0;
  }
  body.gallery .assets-container .asset.asset-text i.icon-text {
    margin: 0;
    
      top: 16px;
      left: 14px;
    
  }
  body.gallery .assets-container .asset.asset-text a>span {
    bottom: 0;
    line-height: 1.3;
    height: auto;
    width: 100%;
    display: inline-block;
    font-size: 11px;
    height: 40%;
    word-break: break-all;
    
      padding: 16px 14px 18px;
    
    padding-top: 0;
  }
  .assets-container {
    /*padding-top: 15px;*/
    width: 100%;
    height: 100%;
    -webkit-transition: left 0.3s ease-out;
       -moz-transition: left 0.3s ease-out;
         -o-transition: left 0.3s ease-out;
            transition: left 0.3s ease-out;
  }
  body.menu-is-visible #content {
    opacity: 0.6;
    pointer-events: none;
  }
  ._4ORMAT_content_wrapper {
    position: relative;
    -webkit-transition: left 0.3s ease-out;
       -moz-transition: left 0.3s ease-out;
         -o-transition: left 0.3s ease-out;
            transition: left 0.3s ease-out;
  }
  .assets-container, ._4ORMAT_content_wrapper{
    left: 0;
  }
  body.menu-is-visible .assets-container, body.menu-is-visible ._4ORMAT_content_wrapper{
    left: 86%;
  }
  body #social.social_icons {
    margin: 0;
    position: relative;
    overflow: visible;
    margin-bottom: 15px;
  }
  .social_icons a {
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 4px;
  }
  .social_icons .social-icon {
    height: 20px;
    top: 7px;
    padding: 0;
  }
  .social_icons #share_button {
    margin: 0;
    padding: 0;
    padding-left: 3px;
  }
  .social_icons #share_4ormat_link {
    font-size: 16px;
    text-transform: capitalize;
  }
  .fancybox-lock {
    overflow: visible;
  }
  body:not(.blog) .fancybox-wrap {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    padding: 0px 25px !important;
    margin-bottom: 80px !important;
    overflow: auto !important;
    height: auto !important;
    box-sizing: border-box;
  }
  .thumbnails-off .fancybox-wrap {
    margin-bottom: 0 !important;
  }
  .fancybox-skin {
    width: 100% !important;
    height: auto !important;
    display: inline-block;
    vertical-align: middle;
    overflow: visible;
    position: relative;
    /*box-shadow: inset 0px -105px 10px -80px rgba(255, 255, 255, 1) !important;*/
  }
  .fancybox-outer {
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    max-height: 85%;
  }
  .fancybox-wrap::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .fancybox-outer {
    display: inline-block;
    vertical-align: middle;
  }
  .fancybox-type-inline .fancybox-outer {
    overflow: auto;
  }
  .fancybox-inner {
    width: auto !important;
    height: auto !important;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    font-size: 14px;
  }
  .fancybox-type-inline .fancybox-inner {
    padding: 0 0;
  }
  .fancybox-type-inline .fancybox-inner textarea, .fancybox-type-inline .fancybox-inner input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 15px;
    border-radius: 0;
  }
  .fancybox-type-inline .fancybox-inner textarea {
    padding-top: 15px;
  }
  .fancybox-type-inline form {
    padding: 10px 0;
  }
  .fancybox-type-inline .fancybox-inner form input[type=submit] {
    background: none;
    margin: 30px 0 0 0;
    border: 1px solid #979797;
    width: auto;
    padding: 15px 60px;
    font-size: 16px;
    line-height: 1;
  }
  .fancybox-type-inline .fancybox-inner form div {
    display: block;
    position: relative;
  }
  .fancybox-type-inline .fancybox-inner form label {
    display: inline-block;
    position: absolute;
    font-size: 16px;
    line-height: 50px;
    left: 16px;
    top: 1px;
    z-index: 10;
  }
  .fancybox-type-inline .fancybox-inner form .typing label {
    display: none;
  }
  .fancybox-type-inline .fancybox-inner form div input {
    line-height: 50px;
  }
  .fancybox-type-inline .fancybox-inner form div textarea, .fancybox-type-inline .fancybox-inner form div input {
    box-shadow: none;
    -webkit-appearance: none;
    border: 1px solid #979797;
    border-bottom: 0;
  }
  .fancybox-type-inline .fancybox-inner form div:nth-last-child(2) textarea, .fancybox-type-inline .fancybox-inner form div:nth-last-child(2) input {
    border-bottom: 1px solid #979797;
  }
  .fancybox-type-inline .fancybox-inner form br {
    display: none;
  }
  .fancybox-image {
    height: auto;
    width: auto;
    max-height: 85%;
  }
  body.gallery .fancybox-title {
    position: absolute;
    top: 100%;
    width: 100%;
    max-width: initial;
    padding-bottom: 10px;
  }
  #fancybox-thumbs {
    z-index: 100000;
  }
  .fancybox-overlay {
    z-index: 99999;
    overflow: hidden;
  }
  .fancybox-title {
    font-size: 14px;
  }
  .fancybox-opened, #fancybox-thumbs {
    z-index: 999999;
  }
  .order-fader {
    display: none;
  }
  body.fancybox-is-visible .order-fader {
    position: fixed;
    display: inline-block;
    bottom: 70px;
    left: 0;
    width:100%;
    height: 60px;
    z-index: 100000;
    background: -webkit-linear-gradient(
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 1) 80%
    );
    background-image: -moz-linear-gradient(
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 1) 80%
    );
    background-image: -o-linear-gradient(
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 1) 80%
    );
    background-image: linear-gradient(
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 1) 80%
    );
    background-image: -ms-linear-gradient(
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 1) 80%
    );
  }
  .f_blog_title {
    font-size: 32px !important;
    font-weight: 400 !important;
  }

  .f_blog_post_date {
    margin-top: 0 !important;
  }

  .f_blog_wrapper._4ORMAT_content_wrapper, .f_blog_post_header {
    padding: 0;
  }
  .f_blog_wrapper._4ORMAT_content_wrapper {
    padding-top: 15px;
  }

  .youtube_cont.preview .load_iframe, .vimeo_cont.preview .load_iframe {
    background-image: url(https://bucket1.format-assets.com/theme_versions/4351869/assets/images/play-icon.svg) !important;
    background-repeat: no-repeat;
  }
  .f_blog_post iframe {
    max-width: 100%;
    height: auto;
  }

  hr._4ORMAT_module_divider {
    width: 100%;
  }

  .simple_container_12 div.grid_3, .simple_container_12 div.grid_5, .simple_container_12 div.grid_6, .simple_container_12 div.grid_7, .simple_container_12 div.grid_9, .simple_container_12 div.grid_12 {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .simple_asset.text textarea {
    width: 100%;
  }

  .simple_asset.text label {
    width: 15%;
    display: inline-block;
    padding: 5px 0;
  }

  .simple_asset.image {
    padding: 5px 0;
  }

  .basic #content_page_wrapper .imgbox.half {
    width: 100%;
  }
  .basic #content_page_wrapper .imgbox.half img {
    margin: 0 auto;
  }

  .basic ._4ORMAT_content_page_container {
    max-width: 100%;
  }

  .f_blog_title_typography, .f_blog_title_typography:hover {
    font-size: 32px !important;
  }

  article.f_blog_post small {
    font-size: 14px;
  }
  article.f_blog_post p {
    margin: 0;
    padding: 15px 0;
    font-size: 16px;
  }

  div.f_blog_post_images_vertical img {
    margin: 0;
    padding: 15px 0;
  }

  div.f_blog_post_images_vertical .f_blog_image_caption {
    margin: 0;
    padding-top: 0px;
    margin-top: -10px;
  }
  .sixcol, .fourcol, .eightcol, .twelvecol {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  ._4ORMAT_content_page_row {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  #content_page_wrapper form .row.naked input, #content_page_wrapper form .row.naked textarea, #content_page_wrapper form fieldset input {
    border-top-width: 1px;
    border-bottom-width: 0;
    border-right-width: 1px !important;
    border-left-width: 1px;
    border-radius: 0;
  }

  #content_page_wrapper form .row.naked.last textarea, #content_page_wrapper form fieldset input {
    border-bottom-width: 1px;
  }

  form input, form textarea {
    font-size: 14px !important;
  }

  #content_page_wrapper input[type="submit"][disabled] {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .asset.txt .text_content input, .asset.txt .text_content textarea {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px !important;
    border-left-width: 1px;
    border-radius: 0;
  }

  .asset.txt .text_content textarea {
    width: 100%;
    height: auto;
    min-height: 30px;
  }

  .asset.txt .text_content label {
    width: 100%;
    text-align: left;
    display: inline-block;
    line-height: 35px;
  }

  .asset.txt .text_content input[type="submit"] {
    margin-top: 10px;
    background-color: transparent;
  }
  body.gallery a.logo img, body.listing a.logo img, body.simple a.logo img, body.client a.logo img {
    max-height: 57px;
    min-height: 37px;
    float: left;
  }
  body.gallery a.logo, body.listing a.logo, body.simple a.logo, body.client a.logo {
    font-size: 25px;
    line-height: 0.9;
  }
  body.gallery a.logo.image, body.listing a.logo.image, body.simple a.logo.image, body.client a.logo.image {
    overflow: hidden;
  }
  body.gallery .nav-wrapper, body.listing .nav-wrapper, body.simple .nav-wrapper, body.client .nav-wrapper {
    padding: 0;
    width: 100%;
    height: auto !important;
    z-index: 9999;
    overflow: visible;
    position: fixed;
    -webkit-transition: top .5s ease-out;
       -moz-transition: top .5s ease-out;
        -ms-transition: top .5s ease-out;
         -o-transition: top .5s ease-out;
            transition: top .5s ease-out;
  }

  .button-mobile-toggler {
    position: absolute;
    right: 25px;
    top: 50%;
    margin-top: -20px;
    padding: 12px 9px;
    background: transparent;
    border: none;
    fill: #6A6A6A;
    z-index: 99999;
  }
  .menu-is-visible .button-mobile-toggler {
    padding: 11px 9px;
    background-color: #4d4d4e;
  }
  .button-mobile-toggler:focus {
    outline: none;
  }

  .mobile-nav {
    display: inline-block;
    position: fixed;
    height: 100%;
    width: 74%;
    top: 0;
    left: -74%;
    background: #cdcdce;
    z-index: 9999;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all 0.3s ease-out;
       -moz-transition: all 0.3s ease-out;
         -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
  }
  .menu-is-visible .mobile-nav {
    left: 0;
  }

  .menu-is-visible .order-title {
    position: relative;
    opacity: 0;
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
  }
  .order-title.order-title-mobile {
    opacity: 1;
    width: 100%;
  }
  .mobile-nav .pre_text {
    margin: 0;
    padding-left: 27px;
    padding-bottom: 27px;
  }
  .menu-is-visible .nav-background {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background-image: trasparent;
  }
  body.menu-is-visible #using {
    display: none !important;
  }
  .asset-title .copy {
    padding: 10px 15px 0;
  }
  body.gallery .assets-container{
      margin-bottom: 0;
  }
  input._4ORMAT_module_contact_input, textarea._4ORMAT_module_contact_input {
    -webkit-appearance: none;
  }
}

@media only screen and (orientation: landscape) {
  body:not(.blog) .fancybox-wrap {
    margin-bottom: 0 !important;
  }
  .fancybox-title::after {
    bottom: 0 !important;
  }
}

/*END*/

body .icon-reorder {
  display: block;
  fill: #c3eef6;
}
body.menu-is-visible .icon-reorder {
  display: none;
}
body .icon-remove {
  display: none;
}
body.menu-is-visible .icon-remove {
  display: block;
}
.icon-remove g {
  fill: #c3eef6;
}
.mobile-item {
  display: inline-block;
  width: 100%;
  padding: 0 19px;
  line-height: 40px;
  box-sizing: border-box;
}
#menu .mobile-item a {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: initial;
  padding: 6px 8px;
  box-sizing: border-box;
}
#menu .mobile-item a.selected {
  color: #f36d1f;
  text-decoration: none;
  
  background: #f8e25c;
  
}
#menu .mobile-category {
  padding: 20px 0 20px 0;
}
#menu .mobile-category + .mobile-category {
  padding-top: 0;
}
#menu .mobile-category>a {
  margin: 0;
  padding: 0;
  margin-left: 19px;
  line-height: 0px;
  margin-bottom: 8px;
}
#menu .mobile-category>a>span {
  color: #222222;
  
  background: #f9e4fb;
  
  display: inline-block;
  font-family: "Input Mono Narrow Extra Light", "Input Mono Narrow Extra Light", monospace;
  font-size: 13px;
  line-height: 1.8;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  padding: 0 8px;
  line-height: 40px;
}
.mobile-items-wrap {
  overflow: auto;
  height: 100%;
  padding-right: 0;
}
.mobile-nav-bottom {
  padding-left: 25px;
  padding-bottom: 20px;
  padding-top: 30px;
}
.mobile-nav-bottom .post_text {
  margin: 0;
  padding: 20px 0px 10px 0;
}
body.menu-is-visible .mobile-menu-using #using {
  display: block !important;
  position: relative !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  font-size: 10px !important;
  padding: 20px 0px 10px 0px !important;
  color: #aaaaaa !important;
  font-family: "Lucida Console", Monaco, Menlo, monospace !important;
  -webkit-text-size-adjust: 100%;
}
body.menu-is-visible .mobile-menu-using #using a {
  color: #aaaaaa !important;
}
.menu-is-visible .mobile-nav-fader {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: transparent;
  position: fixed;
  z-index: 999;
}
.post_text.post_text_mobile {
  margin: 0;
  padding: 25px 0 35px 0;
}

.f-load-more .spinner-wrap .spinner-circle {
  stroke: #c3eef6 !important;
}

/* -------------------------------------
  Store Pages
---------------------------------------*/

.product-list .product-name {
  font-size: 18px !important;
}

.product-list .product a {
  color: #c3eef6 !important;
}

.product-shipping-option {
  border-color: #c3eef6 !important;
}

body.order_confirmation_page .btn-cancel,
.product-order-form .f-add-to-cart-button,
.product-order-form .select2-choice {
  background: transparent !important;
  border: 1px solid rgba(195, 238, 246, 0.2) !important;
  color: #c3eef6 !important;
}

.product-order-form .f-add-to-cart-button {
  border: 1px solid rgba(195, 238, 246, 0.3) !important;
}

body.product_page .select2-drop {
  background: #4d4d4e !important;
  border: 1px solid rgba(195, 238, 246, 0.2) !important;
  color: #c3eef6 !important;
}

body.product_page .select2-drop ul,
body.product_page .select2-drop ul .select2-result-label {
  border-color: rgba(195, 238, 246, 0.2) !important;
}

body.product_page .select2-results .select2-highlighted,
.product-order-form .f-add-to-cart-button:hover {
  background: rgba(195, 238, 246, 0.1) !important;
}

body.product_page .select2-results .select2-highlighted {
  color: #c3eef6 !important;
}

body.product .product-order-form .select2-container .select2-choice div b:before {
  border-top-color: rgba(195, 238, 246, 0.6) !important;
}

body.order_confirmation_page .order-confirmation {
  border: 1px solid #c3eef6 !important;
}

body.order_confirmation_page .order-confirmation .order-confirmation-details {
  border-top: 1px solid #c3eef6 !important;
  border-bottom: 1px solid #c3eef6 !important;

}
body.order_confirmation_page .order-confirmation .order-confirmation-details .order-confirmation-products th,
body.order_confirmation_page .order-confirmation.mobile .order-confirmation-details dl,
body.order_confirmation_page .order-confirmation.mobile .order-confirmation-products .order-confirmation-product {
  border-bottom: 1px solid #c3eef6 !important;
}

body.order_confirmation_page .order-confirmation .order-confirmation-total tr:last-child td,
body.order_confirmation_page .order-confirmation.mobile .order-confirmation-details {
  border-top: 1px solid #c3eef6 !important;
}

body.order_confirmation_page .order-confirmation.mobile .order-confirmation-payment {
  border: 0 !important;
}

body.order_confirmation_page .order-confirmation .order-confirmation-details dl dt,
body.order_confirmation_page .order-confirmation .order-confirmation-details .order-confirmation-products th,
body.order_confirmation_page .order-confirmation .order-confirmation-total td:first-child {
  color: #c3eef6 !important;
}


body.order_confirmation_page .btn-confirm,
body.order_thank_you_page .btn-return,
body.order_download_page .btn-return,
body.order_payment_error_page .btn-return {
  background: #c3eef6 !important;
  border: none !important;
  color: #4d4d4e !important;
}

body.order_download_page svg {
  fill: #f6d5f8;
}

.f-back-to-store-link svg {
  fill: #f6d5f8;
}
